html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
}
header .container {
  max-width: 1130px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .logo .logo1 {
  font-size: 28px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
header .container .navigation {
  width: 527px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 970px) {
  header .container .navigation {
    display: none;
  }
}
header .container .navigation li a {
  font-size: 18px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
header .container .icons {
  width: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #22262A;
  cursor: pointer;
}
@media (max-width: 464px) {
  header .container .icons {
    display: none;
  }
}
header .container .bar {
  display: none;
}
@media (max-width: 970px) {
  header .container .bar {
    display: block;
    color: black;
    font-size: 30px;
  }
}

.s-1 {
  margin-top: 68px;
}
.s-1 .container {
  margin: 0 auto;
  max-width: 1593px;
  width: 100;
  height: 745px;
  background-image: url("../images/s-1background.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 110px;
  position: relative;
}
@media (max-width: 625px) {
  .s-1 .container {
    background-position: left;
  }
}
.s-1 .container .s-1-card {
  max-width: 460px;
  width: 100%;
  position: absolute;
  top: 60%;
  right: 10%;
}
@media (max-width: 700px) {
  .s-1 .container .s-1-card {
    max-width: 250px;
    width: 100%;
    top: 10%;
    left: 10%;
  }
}
.s-1 .container .s-1-card .s-1-h6 {
  font-size: 18px;
  line-height: 27px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 31px;
}
.s-1 .container .s-1-card .s-1-h2 {
  font-size: 80px;
  line-height: 27px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
}
@media (max-width: 524px) {
  .s-1 .container .s-1-card .s-1-h2 {
    font-size: 50px;
  }
}
@media (max-width: 350px) {
  .s-1 .container .s-1-card .s-1-h2 {
    font-size: 35px;
  }
}
.s-1 .container .s-1-card .s-1-button {
  width: 147px;
  height: 35px;
  background-color: #22262A;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  border-style: none;
  margin-right: 34px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .s-1 .container .s-1-card .s-1-button {
    margin-bottom: 15px;
  }
}
.s-1 .container .s-1-card .s-1-button:hover {
  color: palevioletred;
}

.s-2 .container {
  max-width: 1133px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 110px;
}
@media (max-width: 1136px) {
  .s-2 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 600px) {
  .s-2 .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.s-2 .container .left-images {
  max-width: 551px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.s-2 .container .left-images .s-2-image1 {
  max-width: 551px;
  width: 100%;
  margin-bottom: 20px;
}
.s-2 .container .left-images .s-2-image2 {
  margin-bottom: 20px;
}
@media (max-width: 578px) {
  .s-2 .container .left-images .s-2-image2 {
    max-width: 538px;
    width: 100%;
  }
}
.s-2 .container .left-images .s-2-image3 {
  margin-bottom: 20px;
}
@media (max-width: 578px) {
  .s-2 .container .left-images .s-2-image3 {
    max-width: 538px;
    width: 100%;
  }
}
.s-2 .container .right-image {
  max-width: 552px;
  width: 100%;
  height: 574px;
  background-image: url("../images/s-2-image4.svg");
  background-repeat: no-repeat;
  background-position: cover;
  position: relative;
}
@media (max-width: 600px) {
  .s-2 .container .right-image {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.s-2 .container .right-image .s-2-button {
  width: 203px;
  height: 35px;
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 27px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-style: none;
  cursor: pointer;
  position: absolute;
  top: 90%;
  left: 5%;
}
.s-2 .container .right-image .s-2-button:hover {
  background-color: lightsteelblue;
}

.s-3 .container, .s-4 .container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 110px;
}
.s-3 .container .s-3-title, .s-4 .container .s-3-title {
  font-size: 20px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}
.s-3 .container .s-3-title2, .s-4 .container .s-3-title2 {
  font-size: 15px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 65px;
  text-align: center;
}
.s-3 .container .cards, .s-4 .container .cards {
  max-width: 1250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1226px) {
  .s-3 .container .cards, .s-4 .container .cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 10px;
  }
}
.s-3 .container .cards .card, .s-4 .container .cards .card {
  max-width: 268px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.s-3 .container .cards .card img, .s-4 .container .cards .card img {
  max-width: 268px;
  width: 100%;
}
.s-3 .container .cards .card .line1, .s-4 .container .cards .card .line1 {
  font-size: 15px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: 38px;
  margin-bottom: 10px;
}
.s-3 .container .cards .card .line2, .s-4 .container .cards .card .line2 {
  font-size: 15px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}
.s-3 .container .cards .card .price, .s-4 .container .cards .card .price {
  max-width: 149px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-3 .container .cards .card .price .line3, .s-4 .container .cards .card .price .line3 {
  font-size: 15px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  text-decoration: line-through;
}
.s-3 .container .cards .card .price .line3sale, .s-4 .container .cards .card .price .line3sale {
  font-size: 15px;
  color: #CF2929;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
.s-3 .container .cards .card:hover, .s-4 .container .cards .card:hover {
  background-color: rgb(246, 247, 247);
  cursor: pointer;
}

.s-5 .container {
  max-width: 1133px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 121px;
}
.s-5 .container .s-5-title {
  font-size: 20px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}
.s-5 .container .s-5-title2 {
  font-size: 20px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 65px;
}
.s-5 .container .images {
  max-width: 1133px;
  width: 100%;
  height: 685px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1000px) {
  .s-5 .container .images {
    height: 560px;
  }
}
@media (max-width: 810px) {
  .s-5 .container .images {
    height: 515px;
  }
}
@media (max-width: 740px) {
  .s-5 .container .images {
    height: 455px;
  }
}
@media (max-width: 640px) {
  .s-5 .container .images {
    height: 435px;
  }
}
@media (max-width: 540px) {
  .s-5 .container .images {
    position: static;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }
}
.s-5 .container .images .img1 {
  max-width: 552px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 1%;
}
@media (max-width: 1000px) {
  .s-5 .container .images .img1 {
    max-width: 450px;
  }
}
@media (max-width: 810px) {
  .s-5 .container .images .img1 {
    max-width: 400px;
  }
}
@media (max-width: 740px) {
  .s-5 .container .images .img1 {
    max-width: 350px;
  }
}
@media (max-width: 640px) {
  .s-5 .container .images .img1 {
    max-width: 300px;
  }
}
@media (max-width: 540px) {
  .s-5 .container .images .img1 {
    position: static;
    max-width: 350px;
    margin-bottom: 20px;
  }
}
.s-5 .container .images .img2 {
  max-width: 514px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 4%;
  border-bottom: 20px solid white;
  border-left: 20px solid white;
}
@media (max-width: 1000px) {
  .s-5 .container .images .img2 {
    max-width: 450px;
  }
}
@media (max-width: 810px) {
  .s-5 .container .images .img2 {
    max-width: 400px;
  }
}
@media (max-width: 740px) {
  .s-5 .container .images .img2 {
    max-width: 350px;
  }
}
@media (max-width: 640px) {
  .s-5 .container .images .img2 {
    max-width: 300px;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
  }
}
@media (max-width: 540px) {
  .s-5 .container .images .img2 {
    position: static;
    max-width: 350px;
    margin-bottom: 20px;
    border-style: none;
  }
}
.s-5 .container .images .img3 {
  max-width: 227px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 1%;
  border-top: 20px solid white;
  border-left: 20px solid white;
}
@media (max-width: 640px) {
  .s-5 .container .images .img3 {
    border-top: 10px solid white;
    border-left: 10px solid white;
  }
}
@media (max-width: 540px) {
  .s-5 .container .images .img3 {
    position: static;
    max-width: 350px;
    margin-bottom: 20px;
    border-style: none;
  }
}
.s-5 .container .images .images-title {
  max-width: 169px;
  width: 100%;
  background-color: #FFFFFF;
  font-size: 15px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #22262A;
  cursor: pointer;
  position: absolute;
  bottom: 3%;
  right: 21%;
}
@media (max-width: 540px) {
  .s-5 .container .images .images-title {
    position: static;
  }
}
.s-5 .container .images .images-title:hover {
  background-color: black;
  color: #FFFFFF;
  border-bottom: 1px solid white;
}

.s-6 .container {
  max-width: 1593px;
  width: 100%;
  height: 745px;
  margin: 0 auto;
  position: relative;
  background-image: url("../images/s-6-image.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 822px) {
  .s-6 .container {
    height: 600px;
    background-position: top right;
  }
}
@media (max-width: 562px) {
  .s-6 .container {
    height: 500px;
  }
}
.s-6 .container .s-6-title {
  max-width: 426px;
  width: 100%;
  position: absolute;
  bottom: 11%;
  left: 15%;
}
@media (max-width: 1232px) {
  .s-6 .container .s-6-title {
    top: 13%;
  }
}
@media (max-width: 822px) {
  .s-6 .container .s-6-title {
    top: 60%;
  }
}
@media (max-width: 562px) {
  .s-6 .container .s-6-title {
    width: 320px;
  }
}
@media (max-width: 423px) {
  .s-6 .container .s-6-title {
    width: 240px;
  }
}
@media (max-width: 318px) {
  .s-6 .container .s-6-title {
    width: 190px;
  }
}
.s-6 .container .s-6-title .s-6-h4 {
  font-size: 18px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
}
.s-6 .container .s-6-title .s-6-h2 {
  font-size: 80px;
  color: #22262A;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}
@media (max-width: 562px) {
  .s-6 .container .s-6-title .s-6-h2 {
    font-size: 60px;
  }
}
@media (max-width: 423px) {
  .s-6 .container .s-6-title .s-6-h2 {
    font-size: 45px;
  }
}
@media (max-width: 318px) {
  .s-6 .container .s-6-title .s-6-h2 {
    font-size: 35px;
  }
}
.s-6 .container .s-6-title .s-6-button {
  width: 214px;
  height: 35px;
  background-color: #22262A;
  color: white;
  border-style: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 318px) {
  .s-6 .container .s-6-title .s-6-button {
    width: 170px;
    font-size: 13px;
  }
}
.s-6 .container .s-6-title .s-6-button:hover {
  color: hotpink;
}/*# sourceMappingURL=global.css.map */