header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: white;
    .container {
        max-width: 1130px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin: 0 auto;
        align-items: center;

        .logo {

            .logo1 {
                font-size: 28px;
                color: #22262A;
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
            }
            
        }

        .navigation {
            width: 527px;
            display: flex;
            justify-content: space-between;

            @media (max-width: 970px) {
                display: none;
            }

            li {

                
                a {
                    font-size: 18px;
                    color: #22262A;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;

                }
            }
        }

        .icons {
            width: 148px;
            display: flex;
            justify-content: space-between;
            color: #22262A;
            cursor: pointer;

            @media (max-width: 464px) {
                display: none;
            }
        }

        .bar {
            display: none;

            @media (max-width: 970px) {
                display: block;
                color: black;
                font-size: 30px;
            }                  
        }
    }
}

.s-1 {
    margin-top: 68px;

    .container {
        margin: 0 auto;
        max-width: 1593px;
        width: 100;
        height: 745px;
        background-image: url('../images/s-1background.svg');
        background-repeat: no-repeat;
        margin-bottom: 110px;

        position: relative;

        .s-1-card {
            max-width: 460px;
            width: 100%;
            position: absolute;
            top: 60%;
            right: 10%;

            @media (max-width: 524px) {
                max-width: 250px;
                width: 100%;
                top: 55%;
                right: 40%;
            }

            @media (max-width: 434px) {
                top: 55%;
                right: 10%;
            }

            .s-1-h6 {
                font-size: 18px;
                line-height: 27px;
                color: #22262A;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                margin-bottom: 31px;
            }

            .s-1-h2 {
                font-size: 80px;
                line-height: 27px;
                color: #22262A;
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                margin-bottom: 40px;

                @media (max-width: 524px) {
                    font-size: 50px;
                }
            }

            .s-1-button {
                width: 147px;
                height: 35px;
                background-color: #22262A;
                font-size: 18px;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                color: #FFFFFF;
                border-style: none;
                margin-right: 34px;
                cursor: pointer;

                @media (max-width: 524px) {
                    margin-bottom: 15px;
                }

            }

            .s-1-button:hover {
                color: palevioletred;
            }
        }
    }
}

.s-2 {

    .container {
        max-width: 1133px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1136px) {
            flex-direction: column;
            align-items: center;
        }

        .left-images {
            max-width: 551px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .s-2-image1 {
                margin-bottom: 20px;
            }

            .s-2-image2 {
                margin-bottom: 20px;
            }

            .s-2-image3 {
                margin-bottom: 20px;
            }
        }

        .right-image {
            max-width: 552px;
            width: 100%;
            height: 574px;
            background-image: url('../images/s-2-image4.svg');
            background-repeat: no-repeat;

            position: relative;

            

            .s-2-button {
                width: 203px;
                height: 35px;
                background-color: #FFFFFF;
                font-size: 18px;
                line-height: 27px;
                color: #22262A;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                border-style: none;
                cursor: pointer;

                position: absolute;
                top: 90%;
                left: 5%;
            }

            .s-2-button:hover {
                background-color: lightsteelblue;
            }
        }
    }
}