header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: white;
    .container {
        max-width: 1130px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin: 0 auto;
        align-items: center;

        .logo {

            .logo1 {
                font-size: 28px;
                color: #22262A;
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
            }
            
        }

        .navigation {
            width: 527px;
            display: flex;
            justify-content: space-between;

            @media (max-width: 970px) {
                display: none;
            }

            li {

                
                a {
                    font-size: 18px;
                    color: #22262A;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;

                }
            }
        }

        .icons {
            width: 148px;
            display: flex;
            justify-content: space-between;
            color: #22262A;
            cursor: pointer;

            @media (max-width: 464px) {
                display: none;
            }
        }

        .bar {
            display: none;

            @media (max-width: 970px) {
                display: block;
                color: black;
                font-size: 30px;
            }                  
        }
    }
}

.s-1 {
    margin-top: 68px;

    .container {
        margin: 0 auto;
        max-width: 1593px;
        width: 100;
        height: 745px;
        background-image: url('../images/s-1background.svg');
        background-repeat: no-repeat;
        margin-bottom: 110px;

        position: relative;

        .s-1-card {
            max-width: 460px;
            width: 100%;
            position: absolute;
            top: 60%;
            right: 10%;

            @media (max-width: 700px) {
                max-width: 250px;
                width: 100%;
                top: 10%;
                left: 10%;
            }

            // @media (max-width: 434px) {
            //     top: 55%;
            //     right: 10%;
            // }

            .s-1-h6 {
                font-size: 18px;
                line-height: 27px;
                color: #22262A;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                margin-bottom: 31px;
            }

            .s-1-h2 {
                font-size: 80px;
                line-height: 27px;
                color: #22262A;
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                margin-bottom: 40px;

                @media (max-width: 524px) {
                    font-size: 50px;
                }

                @media (max-width: 350px) {
                    font-size: 35px;
                }
            }

            .s-1-button {
                width: 147px;
                height: 35px;
                background-color: #22262A;
                font-size: 18px;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                color: #FFFFFF;
                border-style: none;
                margin-right: 34px;
                cursor: pointer;

                @media (max-width: 700px) {
                    margin-bottom: 15px;
                }

            }

            .s-1-button:hover {
                color: palevioletred;
            }
        }
    }
}

.s-2 {

    .container {
        max-width: 1133px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 110px;

        @media (max-width: 1136px) {
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: 600px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        .left-images {
            max-width: 551px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .s-2-image1 {
                max-width: 551px;
                width: 100%;
                margin-bottom: 20px;
            }

            .s-2-image2 {
                margin-bottom: 20px;

                @media (max-width: 578px) {
                    max-width: 538px;
                    width: 100%;
                }
            }

            .s-2-image3 {
                margin-bottom: 20px;

                @media (max-width: 578px) {
                    max-width: 538px;
                    width: 100%;
                }
            }

            
        }

        .right-image {
            max-width: 552px;
            width: 100%;
            height: 574px;
            background-image: url('../images/s-2-image4.svg');
            background-repeat: no-repeat;
            background-position: cover;

            position: relative;

            @media (max-width: 600px) {
                padding-left: 20px;
                padding-right: 20px;
            }

            

            .s-2-button {
                width: 203px;
                height: 35px;
                background-color: #FFFFFF;
                font-size: 18px;
                line-height: 27px;
                color: #22262A;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                border-style: none;
                cursor: pointer;

                position: absolute;
                top: 90%;
                left: 5%;
            }

            .s-2-button:hover {
                background-color: lightsteelblue;
            }
        }
    }
}

.s-3 {
    .container {
        max-width: 1138px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 110px;

        .s-3-title {
            font-size: 20px;
            color: #22262A;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            margin-bottom: 15px;
        }

        .s-3-title2 {
            font-size: 15px;
            color: #22262A;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            margin-bottom: 65px;
        }

        .cards {
            max-width: 1138px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            @media (max-width: 1157px) {
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                
            }

            .card {
                width: 268px;
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;
                margin-left: 20px;
                margin-right: 20px;
            

                img {
                    width: 268px;
                }

                .line1 {
                    font-size: 15px;
                    color: #22262A;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 300;
                    margin-top: 38px;
                    margin-bottom: 10px;
                }

                .line2 {
                    font-size: 15px;
                    color: #22262A;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                .price {
                    width: 149px;
                    display: flex;
                    justify-content: space-between;

                    .line3 {
                        font-size: 15px;
                        color: #22262A;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 400;
                        margin-bottom: 10px;
                        text-decoration: line-through;
                    }

                    .line3sale {
                        font-size: 15px;
                        color: #CF2929;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 400;
                        margin-bottom: 10px;
                    }

                }
            }

            .card:hover {
                background-color: rgb(246, 247, 247);
                cursor: pointer;
            }
            

        }
    }
}